<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>prfm-atem</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#b51d7c">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#b51d7c">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#b51d7c">
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 4vh">
        <div class="four column">
            <h1><img class="head-img" src="/assets/icon.svg" alt="icon">prfm-atem error</h1>
            <p>Could not connect to ATEM. prfm-atem is currently configured to the ATEM IP of {{ .AtemHost }}. Resolve this problem and try again.</p>
        </div>
    </div>
</div>
</body>