<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>prfm-atem</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/overview.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#b51d7c">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#b51d7c">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#b51d7c">
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 4vh">
        <div class="four column">
            <h1><img class="head-img" src="/assets/icon.svg" alt="icon">prfm-atem</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 2vh">
        <h4>General configuration</h4>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>OSC Host</td>
                <td>{{ .OscHost }}</td>
            </tr>
            <tr>
                <td>OSC Port</td>
                <td>{{ .OscPort }}</td>
            </tr>
            <tr>
                <td>Webview Port</td>
                <td>{{ .WebPort }}</td>
            </tr>
            <tr>
                <td>ATEM Host IP</td>
                <td>{{ .AtemHost }}</td>
            </tr>
            <tr>
                <td>ATEM cli exec path</td>
                <td>{{ .AtemCliExec }}</td>
            </tr>
            <tr>
                <td>Router Prefix</td>
                <td>{{ .RouterPrefix }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-top: 2vh">
        <h4>Controls</h4>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Controls</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cut</td>
                <td>Cut to preview input</td>
                <td>
                    <img src="/assets/osc-copy.svg"
                         title="Copy OSC command to clipboard"
                         onclick="oscCopy({{ .RouterPrefix }}, 'cut')"
                         alt="copy-osc-cut"/>
                </td>
            </tr>
            <tr>
                <td>Auto</td>
                <td>Change to preview input in given manner</td>
                <td>
                    <img src="/assets/osc-copy.svg"
                         title="Copy OSC command to clipboard"
                         onclick="oscCopy({{ .RouterPrefix }}, 'auto')"
                         alt="copy-osc-auto"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" style="margin-top: 2vh">
        <h4>Video Inputs</h4>
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Index</th>
                <th>External Type</th>
                <th>Internal Type</th>
                <th>Name</th>
                <th>Controls</th>
                <th>OSC Cmd</th>
            </tr>
            </thead>
            <tbody>
            {{- range $input := .VideoInputs }}
                <tr
                        {{ if $input.IsProgram -}}class="program"{{- end }}
                        {{ if $input.IsPreview -}}class="preview"{{- end }}>
                    <td>{{ $input.Index }}</td>
                    <td>{{ $input.ExternalType }}</td>
                    <td>{{ $input.InternalType }}</td>
                    <td>{{ $input.Name }}</td>
                    <td>
                        {{ if $input.IsPreview -}}
                            <img src="/assets/preview.svg" title="this input is currently on preview" alt="is-preview"/>
                        {{- else }}
                            <img src="/assets/preview-not.svg"
                                 title="this input is currently not on preview, click to set it to preview"
                                 alt="not-preview"/>
                        {{- end }}
                        {{ if $input.IsProgram -}}
                            <img src="/assets/program.svg" title="this input is currently on program" alt="is-preview"/>
                        {{- else }}
                            <img src="/assets/program-not.svg"
                                 title="this input is currently not on preview, click to set it to program"
                                 alt="not-preview"/>
                        {{- end }}
                    </td>
                    <td>
                        <img src="/assets/osc-preview.svg"
                             title="Copy preview OSC command to clipboard"
                             onclick="oscPreview({{ $.RouterPrefix }}{{ $input.Index }})"
                             alt="copy-osc-preview"/>
                        <img src="/assets/osc-program.svg"
                             title="Copy program OSC command to clipboard"
                             onclick="oscProgram({{ $.RouterPrefix }}{{ $input.Index }})"
                             alt="copy-osc-program"/>
                    </td>
                </tr>
            {{- end }}
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-top: 2vh">
        <h4>Audio Inputs</h4>
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Index</th>
                <th>Type</th>
                <th>Plug Type</th>
                <th>State</th>
                <th>Balance</th>
                <th>Gain</th>
            </tr>
            </thead>
            <tbody>
            {{- range $input := .AudioInputs }}
                <tr>
                    <td>{{ $input.Index }}</td>
                    <td>{{ $input.Type }}</td>
                    <td>{{ $input.PlugType }}</td>
                    <td>{{ $input.State }}</td>
                    <td>{{ $input.Balance }}</td>
                    <td>{{ $input.Gain }}</td>
                </tr>
            {{- end }}
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-top: 2vh">
        <h4>Macros</h4>
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Index</th>
                <th>Used</th>
                <th>Name</th>
                <th>OSC Cmd</th>
            </tr>
            </thead>
            <tbody>
            {{- range $macro := .Macros }}
                <tr>
                    <td>{{ $macro.Index }}</td>
                    <td>{{ $macro.Used }}</td>
                    <td>{{ $macro.Name }}</td>
                    <td>
                        <img src="/assets/osc-copy.svg"
                             title="Copy run macro OSC command to clipboard"
                             onclick="oscRunMacro({{ $.RouterPrefix }}, {{ $macro.Index }})"
                             alt="copy-osc-macro-run"/>
                    </td>
                </tr>
            {{- end }}
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-top: 2vh">
        <div class="twelve columns">
            <img class="footer" src="/assets/prfm-logo.svg" alt="part of the prfm family"/>
        </div>
    </div>
</div>
</body>
</html>
