.control {
    cursor: pointer;
}

.truncate {
    max-width: 15vw;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
}

.log-output {
    overflow: auto;
    max-height: 10vh;
    font-size: 1.5em;
    font-family: monospace;
}

p.log-output {
    margin: 0;
}

tr.program {
    background-color: #D9AEAE;
}

tr.preview {
    background-color: #BBC9A1;
}

img.footer {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.head-img {
    height: 5rem;
    margin-right: 2vh;
}